.banner-wrapper {
    background-image: url('../../images//cover.jpg');
    background-size: cover;
    min-height: 650px;
    padding: 50px;
}

.banner-height {
    height: 525px;
}

/* .banner-thumb {
    position: absolute;
    right: 0;
    bottom: 0;
} */

/* .banner-text{
    align-items: center;
} */

.banner-text h2{
    font-size: 45px;
    margin-bottom: 40px;
}

.banner-text p{
    font-size: 20px;
    margin-bottom: 40px;
}

.banner-thumb img {
    width: 100%;
}

.btn-common {
    padding: 15px 25px;
    background-image: linear-gradient(90deg, #373B44, #4286f4);
    color: #fff;
    border: 1px solid transparent;
    transition: .3s;
    border-radius: 5px;
}

.btn-1:hover{
    background: none;
    border: 1px solid #4286f4;
    color: #000;
}

.btn-2 {
    background: none;
    border: 1px solid #4286f4;
    color: #000;
}

.btn-2:hover {
    background-image: linear-gradient(#373B44, #4286f4);
    color: #fff !important;
}