.footer-menu{
    padding: 0;
}
.footer-menu li:first-child{
    margin: 0;
}

.footer-social ul{
    padding-left: 0;
}

.bg-semi-blue {
    background: #3C75BE;
    padding: 30px;
}
.footer-social ul{
    margin: 0;
}

.footer-social ul li a{
    width: 60px;
    height: 60px;
    border-radius: 10%;
    background-color: #fff;
    transition: .3s;
    border: none;
    outline: none;
}
.footer-social ul li:hover a{
    border-radius: 50%;
}

.footer-menu li a{
    color: #fff;
    transition: .3s;
}

.footer-menu li:hover a{
    color: #000;
}
.footer-contact {
    padding-left: 0;
}

.footer-contact li{
    display: block;
    color: #fff;
    margin-left: 0;
}